<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuToggleDispatch()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Encuesta musical</span>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="10px" class="navegacion-menu"  >
      <li><a routerLink="static/resultados"> Resultados </a></li>
      <li><a routerLink="static/registration"> Encuesta </a></li>
      <li><a routerLink="static/acerca"> Acerca de </a></li>
      <li><a routerLink="/"> Home </a></li>
    </ul>
  </div>

</mat-toolbar>
