<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="estiloMusical">
    <th mat-header-cell *matHeaderCellDef> Estilo musical </th>
    <td mat-cell *matCellDef="let element"> {{element.estiloMusical}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

