<section class="flex-container">

  <div class="row">

    <mat-card>
      <mat-card-title>Bienvenido a la encuesta de gustos musicales</mat-card-title>
      <mat-card-subtitle>Realiza la encuesta registrando tu correo</mat-card-subtitle>
      <mat-card-content>
        <p>
          Solo puedes realizar la encuesta con un correo.
        </p>
      </mat-card-content>

    </mat-card>

  </div>

</section>
