<section fxLayoutAlign="center">
  <mat-card>
   <form
     fxLayout="column"
     fxLayoutAlign="center center"
     #f="ngForm"
     (ngSubmit)="registrarEncuesta(f)"
     fxLayoutGap="10px"
   >
     <mat-form-field>
       <mat-label>Ingrese E-Mail</mat-label>
       <input
         type="email"
         matInput
         placeholder="test.tecnico@gmail.com"
         ngModel
         name="email"
         email
         required
         #emailInput="ngModel"
       />
       <mat-error *ngIf="emailInput.hasError('required')"
         >El email no puede estar en blanco</mat-error
       >
       <mat-error *ngIf="!emailInput.hasError('required')"
         >El email es invalido</mat-error
       >
     </mat-form-field>
      <mat-form-field>
        <mat-label>Gusto musical</mat-label>
        <select name="estiloMusical" ngModel
        estiloMusical matNativeControl required>
          <option value="Rock">Rock</option>
          <option value="Reggaeton">Reggaeton</option>
          <option value="Reggae">Reggae</option>
          <option value="Pop">Pop</option>
        </select>
      </mat-form-field>

     <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Guardar</button>
   </form>
    </mat-card>
 </section>
