
<mat-nav-list>
  <a mat-list-item (click)="closeMenu()" routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="navegacion-list-label">Home</span>
  </a>
  <a mat-list-item (click)="closeMenu()" routerLink="static/resultados">
    <mat-icon>assessment</mat-icon>
    <span class="navegacion-list-label">Resultados</span>
  </a>

  <a mat-list-item (click)="closeMenu()" routerLink="static/registration">
    <mat-icon>announcement</mat-icon>
    <span class="navegacion-list-label">Encuesta</span>
  </a>

  <a mat-list-item (click)="closeMenu()" routerLink="static/acerca">
    <mat-icon>contact_support</mat-icon>
    <span class="navegacion-list-label">Acerca de</span>
  </a>
</mat-nav-list>
