<section class="flex-container">

  <div class="row">

    <mat-card>
      <mat-card-title>Somos una empresa que se dedica a realizar encuestas</mat-card-title>
      <mat-card-subtitle>Esta encuesta va dirigida a toda persona para conocer sus gustos</mat-card-subtitle>
      <mat-card-content>
        <p>
          Realiza esta encuesta y ayudanos.
        </p>
      </mat-card-content>

    </mat-card>

  </div>

</section>
